/* Pré-configurações */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --orange-color: #FF9A03;
    --brown-color: #432A2A;
    --text-light-color: #FFF;
    --text-dark-color: #000;
    --background-color: #FAFAFA;
}   

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 2px;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 18rem;
    font-weight: 700;
    color: var(--text-light-color);
}

h2 {
    font-size: 16rem;
    font-weight: 700;
    color: var(--text-dark-color);
}

h3 {
    font-size: 9rem;
    font-weight: 600;
    color: var(--orange-color);
    text-transform: uppercase;
}

h4 {
    font-size: 9rem;
    font-weight: 500;
    color: var(--orange-color);
}

h5 {
    font-size: 8rem;
    font-weight: 400;
    color: #494949;
}

a {
    font-size: 9rem;
    font-weight: 700;
    color: var(--text-light-color);
    text-decoration: none;
    transition: all 0.5s;
}

p {
    font-size: 10rem;
    font-weight: 400;
    color: var(--text-dark-color);
}

.small-text {
    font-size: 7rem;
}

.medium-text {
    font-size: 12rem;
}

.bold-text {
    font-weight: 500;
}

li {
    font-size: 10rem;
}

.text-light {
    color: var(--text-light-color);
}

.orange-text {
    color: var(--orange-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    height: 60px;
    background-color: var(--orange-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.8;
}

.button:hover {
    background-color: #fbaf3e;
}



/* Header */

header {
    background-color: var(--brown-color);
    width: 100vw;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0px;
}

.menu-area {
    display: flex;
    gap: 50px;
    list-style: none;
    
}

.menu-mobile {
    display: none;
}

.menu-mobile-area {
    display: none;
    list-style: none; 
}

.menu--item a:hover {
    color: var(--orange-color);
}



/* Section Banner */

#banner {
    width: 100vw;
    max-height: 500px;
    background-color: var(--brown-color);
    border-radius: 0px 0px 200px 0px;
    position: absolute;
    left: 0px;
}

.banner-area {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.banner--desc {
    flex: 1;
}

.banner--desc--text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 492px;
}

.banner--desc--text .button {
    margin-top: 32px;
}
   
.banner--image {
    display: flex;
    justify-content: center;
    flex: 1;
}



/* Section info */

.info {
    padding: 500px 0px 100px 0px;
}

.info-image {
    position: absolute;
    left: -20px;
    top: 620px;
}

.info-area {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info--card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 10px;
    list-style: none;
    flex: 1;
    box-shadow: 0px 13px 50px -32px rgba(0, 0, 0, 0.25);
}

.info--card--desc--text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info--card--image {
    display: flex;
    width: 100px;
    justify-content: start;
}



/* Section About */

.about-area {
    display: flex;
}

.about-area--image {
    flex: 1;
}

.about-area--desc {
    max-width: 492px;
    margin: 0 auto;
    flex: 1;
}

.about-area--desc--text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-area--list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 20px;
    gap: 10px;
    list-style-image: url('/assets/images/bone.svg');
}



/* Section brand */

#brand {
    padding: 100px 0px;
}

.brand-area {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.brand-area--item {
    max-width: auto;
    margin: 0 auto;
}



/* Section promotion */

.promotion-area {
    display: flex;
}

.promotion-featured {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin-top: 60px;
    margin-right: 130px;
    max-width: 364px;
}

.promotion-featured a:hover{
    color: #fbaf3e;
}

.promotion--img {
    max-width: 300px;
}

.promotion-products {
    flex: 1;
}

.promotion-products {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.promotion-products--item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    max-height: 35  0px;
}

.promotion-products--item--image {
    display: block;
    margin: 0 auto;
}



/* Section banner discount */

.banner-discount--area {
    max-width: 100%;
}

.banner-discount--area--image-desktop {
    margin: 50px 0px;
    width: 100%;
}

.banner-discount--area--image-mobile {
    display: none;
}



/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brown-color);
    padding: 50px 0px;
}

.address-area {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    list-style: none;
    width: 100%;
    padding: 60px 0px;
}

.address--item {
    display: flex;
    max-width: 400px;
    gap: 20px;
    flex: 1;
}

